/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/tests/code-coverage-report/
.DS_Store
_ide_helper.php
.php_cs.cache
/.phpstorm.meta.php
/.phpunit.result.cache
/.idea
